In [1]:
import pandas as pd

# Membaca file CSV
file_path = 'Kuesioner Penelitian Sistem Rekomendasi Restaurant di Yogyakarta (Jawaban) - Form Responses 1.csv'
df = pd.read_csv(file_path)

# Menampilkan beberapa baris pertama untuk melihat struktur data
df.head()

,user_id,Nama,Domisili,"Mediterranea Restaurant by Kamil, Matrijeron","A&M Co. Express, Jogja","Kalluna, Kotabaru","Restoran Mahkota (Tiong San), Pajeksan","Legend Coffee, Yogyakarta","Marugame Udon, Hartono Mall Jogja","Pepper Lunch, Hartono Mall",...,"Bebek Peking dan Ayam Panggang Pak Gembul, Jl KH Ahmad Dahlan No 40","Soto Sapi Winong, Ngeksigondo","Monalisa Burger Sisingamangaraja, seberang BDS syariah","Rustik Bistro & Bar, Hotel Harper Malioboro Yogyakarta",Silla Korean & Japanese Restaurant,Cak No Chinese Food,"Rice&Steak, Ngipik, Potorono, Banguntapan, Bantul","Hokben Kitchen, Seturan Jogja","Ayam Geprek & Rice Bowl Tobiko Mentai, Karangkajen","Burgerax, Patangpuluhan"
0,1,Raehan,Yogyakarta,4.0,3.0,3.0,3.0,3,4,3,...,4.0,4.0,3.0,3.0,3.0,4.0,3.0,3.0,4.0,4.0
1,2,Rizky Susanto,Yogyakarta,4.0,4.0,5.0,2.0,4,1,4,...,5.0,4.0,NaN,4.0,NaN,1.0,NaN,4.0,4.0,4.0
2,3,Muhammad Azka Hartami,Yogyakarta,4.0,5.0,4.0,5.0,5,5,5,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
3,4,Rhyo Argasiwi,Yogyakarta,3.0,3.0,3.0,3.0,4,4,4,...,3.0,4.0,3.0,3.0,3.0,3.0,3.0,4.0,4.0,3.0
4,5,Nurul Adilah,Yogyakarta,4.0,4.0,4.0,3.0,5,5,4,...,3.0,4.0,3.0,3.0,3.0,4.0,3.0,3.0,2.0,5.0

In [4]:
# Melakukan unpivot pada data
df_melted = df.melt(id_vars=['user_id', 'Nama', 'Domisili'], var_name='Nama Restoran', value_name='rating')

# Mengganti nama kolom sesuai permintaan
df_melted.columns = ['user_id', 'nama', 'domisili', 'Nama Restoran', 'rating']

# Menampilkan hasil
df_melted.head()

,user_id,nama,domisili,Nama Restoran,rating
0,1,Raehan,Yogyakarta,"Mediterranea Restaurant by Kamil, Matrijeron",4.0
1,2,Rizky Susanto,Yogyakarta,"Mediterranea Restaurant by Kamil, Matrijeron",4.0
2,3,Muhammad Azka Hartami,Yogyakarta,"Mediterranea Restaurant by Kamil, Matrijeron",4.0
3,4,Rhyo Argasiwi,Yogyakarta,"Mediterranea Restaurant by Kamil, Matrijeron",3.0
4,5,Nurul Adilah,Yogyakarta,"Mediterranea Restaurant by Kamil, Matrijeron",4.0

In [6]:
# Menambahkan user_id unik untuk setiap nama
df_melted['user_id'] = df_melted['nama'].astype('category').cat.codes + 1

# Mengurutkan data berdasarkan user_id dan nama restoran
df_melted = df_melted.sort_values(by=['Nama Restoran'])

# Menampilkan hasil
df_melted.head()

# df_melted.to_csv('ratings_restaurant.csv',index=False)

     user_id                 nama    domisili           Nama Restoran  rating
80         1                Affan  Yogyakarta  A&M Co. Express, Jogja     5.0
74        14        Ekky Ramadhan  Yogyakarta  A&M Co. Express, Jogja     5.0
94        43          Rizqi azhar  Yogyakarta  A&M Co. Express, Jogja     4.0
68        13          Dwika Putra  Yogyakarta  A&M Co. Express, Jogja     4.0
107       44  Ryan Zainudin Artha  Yogyakarta  A&M Co. Express, Jogja     3.0